@import '../secondary_style/vars/vars.scss';

body{
    color: $base-color;
    max-width: $lg;
    width: 100%;
}

.container{
    @include container;
}

.header{
    display: flex;
    margin-top: 30px;
    &__logo{
        flex-basis: 30%;
        img{
            width: 68px;
            height: 41px;
        }
    }
    &__nav{
        flex-grow: 1;
        display: flex;
        align-items: center;
        justify-content: start;
    }
    &__link{
        font-family: "Roboto-Regular";
        text-decoration: none;
        margin-right: 61px;
        font-weight: 400;
        font-size: 12px;
        line-height: 12px;
        letter-spacing: 0.2em;
        text-transform: uppercase;
        color: #333333;
    }

    &__link:hover{
        color: #C4C4C4;
    }
    
    &__link.active{
        display: inline-block;
        border-bottom: 1px solid #333333;
        border-top: 1px solid #333333;
        padding: 4px 12px;
    }

    &__link.active:hover{
        font-size: 13px;
    }
}

//gallery

.gallery {
    padding: 90px 0 120px 0;
    .gallery__title {
        font-size: $fztitle;
        line-height: 50%;
        font-weight: 300;
    
        &-1 {
            @include titletop;
        }
    
        &-2 {
            @include titlebt;
        }
    }

    &__line {
        border-bottom: 2px solid #F2F2F2;
    }

    &__photo {
        margin: 30px 0 75px 0;
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        grid-template-rows: 260px 260px;
        gap: 30px;
    }

    &__nav {
        display: flex;
        width: 30%;
        height: 53px;
        font-family: "Roboto-Regular";
        font-weight: 400;
        font-size: 24px;
        justify-content: space-between;
        align-items: center;
        &-01 {
            color: #333333;
        }

        &-arrow {
            display: flex;
            width: 53px;
            height: 53px;
            border: 1px solid #F2F2F2;
            justify-content: center;
            align-items: center;
            color: #333333;

            &:hover {
                cursor: pointer;
            }
        }
    }
        
}

//certifications

.certifications {
    padding: 90px 0 120px 0;
    .certifications__title {
        font-size: $fztitle;
        line-height: 50%;
        font-weight: 300;
    
        &-1 {
            @include titletop;
            text-transform: uppercase;
        }
    
        &-2 {
            @include titlebt;
        }
    }
}

//footer start

.footer__container{
    @include ftcontainer;
 }
 .footer{
     background-color: $footer-color;
     color:#FFFFFF;
     &__up{
         margin:0 10px;
         display: grid;
         grid-template-columns: repeat(4,1fr);
         gap:4%;
         padding:58px 0 60px 0;
     }
     &__logo{
         max-width:145px;
         max-height: 94px;
         img{
             width: 100%;
         }
     }
     &__header{
         margin: 0 0 25px 0;
         font-size: 16px;
         font-family: 'Roboto-Bold' sans-serif;
         font-weight: 700;
         line-height: 1.18em;
     }
     &__nav{
         list-style-type: none;
         padding:0;
         margin:0;
         li{
             margin-bottom: 16px;
             &:last-child{
                 margin-bottom: 0;
             }
         }
     }
     &__link{
         font-family: 'Roboto-Medium' sans-serif;
         font-size: 14px;
         line-height: 24px;
         letter-spacing: 0.03em;
         font-weight: 500;
         text-decoration: none;
         color:#FFFFFF;
     }
     &__address, &__phone, &__email{
         position: relative;
         img{
             position:absolute;
             top:0;
         }  
         span{
             width:167px;
             display:inline-block;
             margin-left:30px;
             font-family: 'Roboto-Medium' sans-serif;
             font-weight: 500;
             font-size: 14px;
             line-height: 1.71em;
             letter-spacing: 0.03em;
         }
     }
     &__address{
         margin-bottom:64px;
     }
     &__phone{
         margin-bottom:40px;
     }
     &__email{
         img{
             top:6px;
         }  
     }
     &__social{
         max-width:186px;
         display:flex;
         flex-wrap: wrap;
         justify-content: space-between;
         align-content: flex-start;
         align-items: flex-end;
         h3{
             width:100%;
         }
     }
     &__down{
         padding:24px 0;
         border: 1px solid rgba(255, 255, 255, 0.1);
         text-align: center;
         color:rgba(200, 200, 200, 0.5);
         font-family: 'Open Sans', sans-serif;
     }
 }
 @media (max-width:$sm){
     .footer__social{
         max-width:125px;
     }
     .footer__address{
         margin-bottom:32px;
     }
     .footer__phone{
         margin-bottom:33px;
     }
 }
 @media (max-width:670px){
     .footer{
         &__up{
             grid-template-columns: 40% 1fr;
             row-gap:30px;
         }
         &__header{
             margin-bottom:22px;
         }
         &__nav{
             display: flex;
             flex-wrap:wrap;
             li{
                 margin-right:15px;
             }
         }
         &__contacts{
             grid-column: 2/3;
             grid-row:2/3;
         }
         &__logo{
             justify-self: center;
         }
         &__social{
             grid-column: 1/2;
             justify-self: center;
         }
         &__address{
             margin-bottom:10px;
         }
         &__phone{
             margin-bottom:10px;
         }
     }
 }
 @media (max-width:$xs){
     .footer__up{
         grid-template-columns: 98%;
         text-align: center;
         justify-content: center;
         column-gap:0;
     }
     .footer__nav{
         justify-content: center;
         li{
             margin-right: 10px;
         }
         li:nth-child(2n+3){
             margin-right:0;
         }
     }
     .footer__logo{
         display:none;
     }
     .footer__information{
         justify-self: center;
         width:181px;
     }
     .footer__contacts{
         grid-column: 1/3;
     }
     .footer__social{
         justify-self: center;
         grid-column: 1/3;
     }
 }

 // footer end